<script type="text/javascript">
    $(document).ready(function () {
  
  
      $('#tbody').on('click', '.btn_view', function () {
        console.log('Button Symptoms Clicked');
        let disease = $(this).attr('data-sid');
        var userid = $('#tbody #user_id').val();
  
        console.log('Prediction ID is', disease);
        console.log('User ID is', userid);
  
        mydata = { disease: disease, userid: userid };
        $.ajax({
          url: '',
          method: 'POST',
          data: mydata,
  
          success: function (data) {
            console.log('Data Sent To The Backend');
          },
        });
      });
    });
  </script>