{% extends 'patient/base.html' %} {% block body %}

<div id="content-wrapper">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="">Appointment Panel</a>
      </li>
    </ol>

    <div class="row">
      <div class="col-sm-8">
        <h4 class="text-center alert alert-info">List Of Disease Diagnosed</h4>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Status</th>
              <th scope="col">Day</th>
              <th scope="col">Time</th>
              <th scope="col">Doctor</th>
            </tr>
          </thead>
          <tbody>
            <input type="hidden" value="{{ user.id }}" name="" id="user_id" />

            {% for d in appointment %}
            <tr>
              <td>{{ d.0 }}</td>


              {% if d.1 == 0 %}
              <td>Pending</td>
              {% else %}
              <td>Appointment Set</td>
              {% endif %} 
              {% if d.3 == None %}
              <td>Not Set</td>
              {% else %}
              <td>{{ d.3|date:"M d, Y" }}</td>
              {% endif %} {% if d.2 == None %}
              <td>Not Set</td>
              {% else %}
              <td>{{ d.2 }}</td>
              {% endif %} {% if d.4 == Null %}
              <td>None</td>
              {% else %}
              <td>{{ d.4 }}</td>
              {% endif %}
            </tr>

            {% endfor %}
          </tbody>
        </table>

        <div id="ment_result" class="col-sm-10 offset-sm-3"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
